/* univesal selctor */
* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    font-family: 'Mulish', sans-serif;
}

/* heder starts here */
/* navigation starts here */

/* hamburger section starts */
.hamburger {
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 3);
    display: none;
}

.toogle .common {
    position: absolute;
    height: 3px;
    width: 30px;
    background-color: blueviolet;
    border-radius: 50px;
}

.toogle .top-line {
    top: 7px;
}

.toogle .middle-line {
    top: 15px;
}

.toogle .bottom-line {
    top: 22px;
}

/* hamburger section ends */

nav {
    width: 82%;
    max-width: 1440;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



nav .nav-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 50%;

}

nav .nav-bar {

    width: 50%;
}

nav .nav-bar ul {
    display: flex;

    justify-content: space-around;
    align-items: center;
    /* gap: 44px; */

}

nav .nav-bar ul li {
    list-style: none;
}

nav .nav-bar ul li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

*/ nav .nav-logo h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

span {
    color: #FF5400;
}

/* navigation ends here */
/* banner section starts here */
.banner-content {
    width: 82%;
    height: 100%;
    max-width: 1440px;
    margin: 50px auto;
    position: relative;
}

.banner-text {
    padding: 30px 30px;
    position: absolute;
    top: 20%;
    right: 10%;
    width: 80%;
}

.banner-text .banner-heading {
    text-align: center;
}

.banner-text .banner-heading h1 {
    text-align: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-text .banner-heading p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
    padding: 0px 247px;
}

.banner-form {
    margin: 0px auto;
    padding-bottom: 0px;
    width: auto;
}

form {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    gap: 24px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
}

.banner-form form #name {
    padding: 16px 0px 16px 16px;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    outline: none;
}

.banner-form form .time {
    padding: 16px 84px 16px 16px;
    border: none;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.banner-form form .type {
    padding: 16px 73px 16px 16px;
    border: none;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.form label button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    /* text-align: center; */
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 16px;
    border: none;
}

/* banner section ends here */
/* header section ends here */


/* main section starts here */

/* blog section starts */
.section-content {
    width: 82%;
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 53px;
}

.content-text h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.content-text p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

.content-text li {
    margin-bottom: 16px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.blog-button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 34px 13px 35px;
    border: none;
}

/* blog section ends */

/* destination section starts */
#destination {
    width: 82%;
    max-width: 1440px;
    margin: 100px auto;
}

#destination .destination-heading {
    text-align: center;
}

#destination .destination-heading h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

#destination .destination-heading p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 263px;
}

.destination-photo {
    margin-top: 48px;
}

.destination-photo .img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7 {
    position: relative;
    max-width: 100%;
    height: auto;
}

.img-1-text {
    position: absolute;
    top: 45%;
    left: 15%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.img-2-text {
    position: absolute;
    top: 45%;
    left: 15%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.img-3-text {
    position: absolute;
    top: 45%;
    left: 8%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.img-4-text {
    position: absolute;
    top: 45%;
    left: 8%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.img-5-text {
    position: absolute;
    top: 45%;
    left: 5%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.img-6-text {
    position: absolute;
    top: 45%;
    left: 10%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.img-7-text {
    position: absolute;
    top: 45%;
    left: 18%;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.first-row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.second-row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.third-row {
    display: flex;
    gap: 24px;
}

/* destination section ends */
/* service section starts */

.service-section {
    width: 82%;
    max-width: 1440px;
    margin: 0px auto;
}

.service-section .srevice-heading {
    text-align: center;
    padding: 0px 263px;
}

.service-section .srevice-heading h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.service-section .srevice-heading p {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.service-content {
    margin-top: 48px;
}

.card-1,
.card-2,
.card-3 {
    width: 48%;
    padding: 32px;
}

.first-row-card {
    display: flex;
    gap: 24px;
}

.service-content h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.service-content p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.service-content img {
    margin-bottom: 32px;
}

.first-row-card .card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.first-row-card .card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.second-row-card .card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.service-content .second-row-card {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

/* service section ends */
/* discount section starts */
.discount {
    width: 82%;
    max-width: 1440px;
    margin: 0px auto;
}

.discount .discount-heading {
    text-align: center;
    padding-left: 264px;
    padding-right: 264px;
    margin-bottom: 48px;
}

.information {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 26px;
}

.image-cover-info {
    display: flex;
    gap: 24px;
}

.information p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.image-cover-description h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.image-cover-description p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.image-cover-description h2 {
    color: #FF5400;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 24px;
}

.image-cover-description .booking-button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    border: none;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    padding: 13px 24px;
}

.image-cover-text {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px 50px;
    max-width: 35%
}

.discount-image .discount-image-1 {
    position: relative;
    margin-bottom: 24px;
}

.discount-image .discount-image-2 {
    position: relative;
    margin-bottom: 24px;
}

.discount-image .discount-image-3 {
    position: relative;
    margin-bottom: 48px;
}

.image-cover-text {
    position: absolute;
    top: 10%;
    left: 5%;
}

.img-text {
    left: 45%;
}

.package-button #discount-button {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    border: none;
    font-weight: 800;
    padding: 14px 22px;
}

.package-button {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

/* discount section ends here */

/* my custon section */
.review-container {
    width: 82%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 113px;
}

.rating-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.rating-content img {
    width: 100px;
    height: auto;
    border: 1px dotted red;
    border-radius: 50%;
}

.review-card-4 img {
    height: 90px;
    object-fit: content;
}

.review-heading {
    text-align: center;
    margin-bottom: 16px;
}

.review-heading h1 {
    margin-bottom: 16px;
}

.review-img {
    text-align: center;
}

.review-card-1,
.review-card-2,
.review-card-3,
.review-card-4 {
    padding: 24px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    border-radius: 10px;
}

#review-heading {
    text-align: center;
    margin-bottom: 24px;
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

/* my custom section ends here */

/* video section starts here */
#video-section {
    width: 82%;
    max-width: 1440px;
    margin: 0px auto
}

.video-container {
    display: flex;
    gap: 42px;
    justify-content: space-between;
    align-items: center;
}

.video-container .video-text {
    padding-top: 0px;
}

.video-container .video-clip {
    height: 425px;
}

.video-container .video-text h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 16px;
}

.video-container .video-text p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.video-container .video-text li {
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    margin-bottom: 16px;
}

/* video section ends here */

/* newsletter section starts */
.news-letter-content {
    width: 82%;
    max-width: 1440px;
    margin: 100px auto;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.news-letter-input .input-text {
    display: flex;
    gap: 16px;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.news-letter-input .news-letter-heading h1 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.news-letter-input .news-letter-heading p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
}

hr {
    margin-top: 24px;
    margin-bottom: 24px;
    color: #1313181A;
}

.subscribe {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    border: none;
    font-weight: 800;
    margin-top: 24px;
    padding: 14px 135px;
}

.input-text input {
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 153px 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    outline: none;
}

.news-letter-input {
    width: 30%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 24px;
}

.news-letter-img {
    position: relative;
}

.banner-sticker {
    position: absolute;
    bottom: 72px;
    right: 0px;
    transform: rotate(-30deg);
}

.news-letter-sticker {
    width: 40%;
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    text-align: center;
    font-weight: 800;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.news-letter-sticker h3 {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
}

.news-letter-sticker h1 {
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

/* news-letter section ends here */
/* main section ends here */

/* footer section starts here */
footer {
    background: rgba(19, 19, 24, 0.05);
}

.footer-section {
    width: 60%;
    max-width: 1440px;
    padding-top: 110px;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-logo h1 {
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}

.footer-section p {
    margin-top: 15px;
    margin-bottom: 33px;
    text-align: center;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.social-media-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.footer-section .copyright {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 100px;
}
/* footer section ends */




/* media responsive section for mobile */
@media screen and (max-width:600px) {

    /* header section starts */
    /* nav section starts */
    nav {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 36px;
    }

    nav .nav-logo {
        width: 100%;
        display: flex;
        gap: 32px;
    }

    nav .nav-bar {
        width: 25%;
        height: auto;
        background-color: azure;
        position: absolute;
    }

    nav .nav-bar ul {
        display: flex;
        flex-direction: column;
        display: none;
    }
    /* humburger section starts */
    .hamburger {
        display: block;
        position: absolute;
        right: 10%;
        top: 5%;
        cursor: pointer;
    }
    /* humburger section ends */
    /* nav nection ends */

/* banner section starts */
    .banner-content img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
    .banner-text {
        padding: 0px 0px;
        position: absolute;
        top: 0%;
        right: 10%;
        width: 80%;
    }
    
    .banner-text .banner-heading h1 {
        text-align: center;
        color: #FFF;
        font-family: Mulish;
        font-size: 34px;
        font-weight: 800;
        margin-bottom: 10px;
    }
    .banner-text .banner-heading p {
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 32px;
        padding: 0px 0px;
    }

    .form {
        flex-direction: column;
    }
    .form label button {
        border-radius: 8px;
        background: #FF5400;
        color: #FFF;
        
        font-family: Mulish;
        font-size: 16px;
        font-weight: 700;
        padding: 16px 52px;
        border: none;
    }
    /* banner section ends */
    .section-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 36px;
    }

    .section-content .content-text {
        width: 100%;
    }

    .content-image {
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    #destination .destination-heading p {
        padding: 0px;
    }

    #destination {
        width: 82%;
        max-width: 1440px;
        margin-top: 0px;
        position: relative;
        top: -100px;
    }

   .destination-photo img{
    width: 100%;
    height: 100%;
   }

    .first-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .second-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .third-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* service section */
    .service-section .srevice-heading {
        text-align: center;
        padding: 0px 0px;
    }

    .first-row-card {
        flex-direction: column;
        align-items: center;
    }

    /* discount section */
    .discount .discount-heading {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 48px;
    }

    /* video section start */
    .video-container {
        flex-direction: column;
    }

    .video-clip video {
        width: 100%;
        height: auto;
    }

    /* my custom section starts */
    .rating-content{
        grid-template-columns: repeat(1,1fr);
    }


    /* newsletter section start */
    .news-letter-content {
        flex-direction: column;
    }

    .news-letter-input {
        width: 100%;
        border-radius: 16px;
        border: 1px solid #FF5400;
        padding: 20px;
    }

    .news-letter-img img {
        width: 100%;
        height: auto;
    }

    .news-letter-sticker {
        width: 45%;

        font-size: 32px;
        text-align: center;
        font-weight: 800;
        padding-left: 10px;
        padding-right: 12px;
        padding-top: 8px;
        padding-bottom: 10px;
    }

    .banner-sticker {
        position: absolute;
        bottom: 47px;
        right: 15px;
        transform: rotate(-30deg);
    }
    footer{
        width: 100%;
    }
    /* reponsive end */
}